.aside-panel {
  width: 30%;
  min-height: $content-height;
  position: absolute;
  top: 0;
  transition: left 0.5s, right 0.5s;
  background-color: #cff2fe;
  outline: 1px solid #22b2ff;

  &--left {
    left: -30%;
  }

  &--right {
    right: -30%;
  }
}

@media (min-width: 1024px) {
  .aside-panel {
    width: 300px;
  }
}
