.page-wrapper {
  margin: 0 auto;
  padding: 20px;
  max-width: 1440px;
}

@media (min-width: 768px) {
  .page-wrapper {
    padding: 30px;
    //flex-direction: row;
    //display: flex;
    //flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .page-wrapper {
    //justify-content: space-between;
  }
}
