//.page-wrapper {
//  margin: 0 auto;
//  padding: 20px;
//  max-width: 1440px;
//}

@media (min-width: 768px) {
  .top-block {
    //padding: 30px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .top-block {
    justify-content: space-between;
  }
}
