.visible-block {
  opacity: 1;
  width: 100px;
  min-height: $content-height * 0.4;
  align-self: flex-end;
  background-color: #fcdfdf;
  outline: 1px solid #de4040;
}

@media (min-width: 1024px) {
  .visible-block {
    width: 200px;
  }
}
